<meta charset="utf-8">

{% include seo.html %}
<meta name=”title” property=”og:title” content=”Sheryl Xu Profile”>
<meta name=”image” property=”og:image” content="images/Sheryl%20Xu.jpg">
<meta name=”description” property=”og:description” content=”Sheryl Xu Personal Website”>

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
