<meta charset="utf-8">

<!-- Open Graph metadata -->
<meta property="og:title" content="Sheryl Xu GitHub Portfolio">
<meta property="og:description" content="Sheryl Xu GitHub Portfolio">
<meta property="og:image" content="https://sherylxuu.github.io/images/Sheryl_Xu.jpg">
<meta property="og:url" content="https://sherylxuu.github.io">
<meta property="og:type" content="website">

<!-- Twitter Card metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Sheryl Xu GitHub Portfolio">
<meta name="twitter:description" content="Sheryl Xu GitHub Portfolio">
<meta name="twitter:image" content="https://sherylxuu.github.io/images/Sheryl_Xu.jpg">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "s3ah4fc0a0");
</script>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
