<meta charset="utf-8">

<!-- SEO metadata -->
<meta property="og:title" content="Sheryl Xu Profile">
<meta property="og:description" content="Sheryl Xu Personal Website">
<meta property="og:image" content="https://sherylxuu.github.io/images/Sheryl_Xu.jpg">
<meta property="og:type" content="website">
<meta property="og:url" content="https://sherylxuu.github.io">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
